*{padding: 0;
margin:20, 0, 0, 0;}
body {
    
    font-size: 14pt;
    font-family: "Arial", sans-serif;
  }
h1{font-family: 'Patrick Hand', cursive;
color: rgb(57, 100, 100);
font-size:72pt;
}  
  .main-menu {
    
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  
  }
  
  .main-menu a {
    display: block;
  padding: 8px 14px;
  color: rgb(25, 26, 24);
  text-decoration: none;
  border: 1px solid #031f47;
  }
  
  .main-menu a:hover {
    background-color: grey;
  }
  
  .main-menu > li {
    position: relative;
    display: inline-block;
    width: 20%;
    
    text-align: center;
    font-size: 18pt;
  }
  
   .sub-menu {
    position: absolute;
    top: 5px;
    
    z-index: 1;
    display: none;
    
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fcf8e3;
  }
  
  .main-menu > li:hover .sub-menu {
    display: block;
  }
 input{display:block;
margin-top: 20px;}
 p{margin-top:20px;
}
iframe{
  position: relative;
  display: none;
  width: 300px;
  height: 200px;
}

.pointer{
  
  cursor: pointer;
}

#samo{
  display: none;
}

input[id=samo]:checked ~iframe{
  display: block;
}

input[id=dostavka]{
  display: none;
}

input[name=kur]{
  display: none;
}

label[for=dostavka]{
  display: none;
}

input[name="kur"]:checked~label[for=dostavka]{
  display: block;
}

input[name="kur"]:checked~input[type="text"]{
  display: block;
}